@media only screen and (max-width: 767px) {
  .devdesai .trainer3 {
    background-image: url("/assets/images/DesaiMobile.png");
    background-size: cover;
    min-height: 756px;
  }
  .devdesai .marginTop-200 {
    margin-top: 368px;
  }
  .devdesai .pText {
    font-Size: "14px";
    font-Family: "Raleway";
  }
}
@media only screen and (min-width: 768px) {
  .devdesai .trainer3 {
    background-image: url("/assets/images/DevDesai.png");
    background-size: cover;
    height: 92.5vh;
  }
  .devdesai .marginTop-200 {
    margin-top: 200px;
  }
  .devdesai .pText {
    font-Size: "16px";
    font-Family: "Raleway";
  }
}
.devdesai .textSize {
  font-weight: 700;
  font-size: 25px;
  font-family: Raleway;
}
.devdesai .flex-box {
  color: white;
  display: flex;
  padding: 10px;
}
.devdesai .yellow {
  color: #F6B909;
}
