@media only screen and (min-width: 768px) {
  .ja17 {
    background-image: url("/assets/images/Home_JA17.png");
    background-size: cover;
    min-height: 92.5vh;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    background-position: center;
  }
  .JALOGO {
    background-image: url("/assets/images/JALOGO.png");
    background-size: cover;
    height: 200px;
  }
  .personal {
    background-image: url("/assets/images/Personal Customized.png");
    height: 39px;
    background-repeat: no-repeat;
    margin-top: 196px;
  }
}
@media only screen and (max-width: 767px) {
  .ja17 {
    background-image: url("/assets/images/MobileJA17.png");
    background-size: cover;
    min-height: 99vh;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
  }
  .hideInMobileView {
    display: none !important;
  }
}
